.header {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;

  @media (min-width: $desktop) {
    //background: red;
    min-height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__wrapper{
  @media(min-width: $desktop)  {
    //width: 1145px;
    display: flex;
    align-items: center;
    //background: red;
  }
}

.header__title{
  //display: flex;
  //background: black;

}



