.logo-text{
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: flex;
  }

}
.logo-box__logo-text{
  @media (min-width: $desktop) {
    margin-right: 82px;
  }
}
.footer__logo-text{
  @media (min-width: $desktop) {
    margin-right: 29px;
  }
}

.logo-text__height{
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 19px;
  color: $blue;
  //background: blueviolet;
  text-align: center;
  margin-bottom: 5px;
}

.logo-text__low{
  //background: pink;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $blue;
}

