
.nav {
  margin-left: auto;
  margin-right: auto;
  @media(min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
}

.header__nav {
  margin-bottom: 10px;
  @media(min-width: $desktop) {
    margin-bottom: 0;
  }
}

.nav__list-navigation {
  display: none;
  flex-direction: column;
  width: 100%;

  @media(min-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

}

.nav__item {
  border-top: gainsboro solid 1px;
  border-left: gainsboro solid 1px;
  border-right: gainsboro solid 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;

  @media(min-width: $desktop) {
    border: none;
  }
}

.nav__link {
  display: flex;
  justify-content: center;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: $blue;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;

  @media(min-width: $desktop) {
    margin-right: 22px;
  }
}

.nav__item:last-child {
  border-bottom: gainsboro solid 1px;

  @media(min-width: $desktop) {
    border-bottom: none;
  }
}

.nav__element-2-inner {
  display: flex;
  flex-direction: column;
  border-left: gainsboro solid 1px;
  border-right: gainsboro solid 1px;
  @media(min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    margin-top: 0;
    margin-left: -170px;
    width: 800px;
    border: solid 1px black;
    background: white;
  }
}

.nav__element-2-inner ul {
  //border: black solid 1px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;

}

.nav__element-2-inner ul:last-child {
  margin-right: 0;
}

.nav__element-4-inner {
  display: flex;
  flex-direction: column;
  border-left: gainsboro solid 1px;
  border-right: gainsboro solid 1px;
  @media(min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 1;
    background: white;
    border: black solid 1px;
    top: 35px;
    width: 200px;
    min-height: 30px;
  }
}

.nav__element-4-inner li {
margin-right: 20px;
}

.nav__element-4-inner li:last-child {
  margin-right: 0;
}

.nav__menu-button {
  display: flex;
  width: 30px;
  height: 30px;
  background-image: url("../images/dest/icon-menu.svg");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: 0;

  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__menu-button--close {
  background-image: url("../images/dest/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav__button-inner {
  display: flex;
  background-image: url("../images/dest/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 28px;
  position: absolute;
  right: 20px;
}

.nav__button--inner-2 {
  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__button--inner-2-2 {
  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__button--inner-2-4 {
  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__button--inner-4 {
  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__button--inner-arrow-up {
  transform: rotate(180deg);
}

.nav__inner-small {
  margin-left: 20px;
  @media(min-width: $desktop) {
    margin-left: 0;
  }
}

.nav__inner_2_2 li {
  display: flex;
  align-items: center;
  position: relative;
}



.nav__inner_2_4 li {
  display: flex;
  align-items: center;
  position: relative;
}


.nav__wrap-inner2{
  //@media(max-width: $only_mobile_table) {
  //  display: flex;
  //  flex-direction: row;
  //}
}
//.nav__item--element-4{
//  @media(max-width: $only_mobile_table)  {
//    display: flex;
//    flex-direction: column;
//  }
//}