//Size screen
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
$only_mobile_table: 768px;


//Color
$white: #ffffff;
$blue: #00519C;
$gray: #E1F2FA;
$blue-light: #EDF8FF;
$black: #000000;

$hover-color: rgba(30, 100, 30, 0.3);
$active-color: rgba(30, 100, 30, 0.6);


